@font-face {
	font-family: veraMono;
	src: url(VeraMono.ttf);
}

td, tr {
	border: 1px solid black;
	padding: 8px;
}

table {
	border-collapse: collapse;
	width: 300px;
}

.correct {
	color: #25c430;
}

.incorrect {
	color: red;
}

div#textInstruction {
	width: 612px;
	padding: 0px 10px 0px 10px;
	border: 1px solid black;
	margin-bottom: 5px;
}

div#keyboardLayout {
	cursor: default;
	margin-bottom: 0px;
}

#hiddenPass {
	display: none;
}

div#timer {
	margin-top: 15px;
}
h2#timerText {
	margin: 0;
}

div.key {
	font-family: veraMono;
	outline: black solid 1px;
	display: inline-block;
	z-index: 99;
	padding: 10px 15px 10px 15px;
	margin: 0;
}

div.key.first {
}

div.key.second {
}

div.key.third {
}

div.key.fourth {
}

div.key.fifth {
}

div.word {

}

div#leftShift {
	padding-right: 33px;
}
div#rightShift {
	padding-left: 33px;
}
div#tab {
	padding-right: 22px;
}
div#backspace {
	padding: 10px 12px 10px 38px;
}
div#menu {
	color: transparent;
	padding: 10px 8px 10px 8px;
}
div#space {
	padding: 10px 68px 10px 68px;
}
div#capslock {
	padding-right: 17px;
}
div#rightWindowsKey {
	padding: 10px 12px 10px 12px;
}

textarea#textInput {
	width: 628px;
	height: 170px;
	resize: none;
}

textarea#logRead {
	margin-top: 100px;
}